/* Banner Section Style */
.banner{
    &-wrapper{
        &::before{
            content: "";
            position: absolute;
            width: 1382px;
            left: 50%;
            top: 0;
            background: url(../images/banner/banner-bg-shape.svg) no-repeat bottom left/cover;
            @include tablet{
                transform: translate(-10%,-5%);
                height: 480px;
            }
            @include min-tablet{
                transform: translate(-10%,-5%);
                height: 780px;
            }
        }
    }
    &__image{
        &-wrapper{
            min-width: 48vw;
        }
        animation: waveImage 6s cubic-bezier(0.37, 0, 0.63, 1) infinite;
        @keyframes waveImage {
            0%,100%{
                transform: translateY(0);
            }
            50%{
                transform: translateY(5%);
            }
        }
    }
    &__title{
        font-weight: 800;
        line-height: lineHeight(50,69);
        margin-top: toRem(60);
        @include min-desktop{
            font-size: toRem(38);
        }
        @include min-desktop-xl{
            font-size: toRem(50);
        }
    }
    &__text{
        font-size: toRem(14);
        margin-top: toRem(15);
        margin-bottom: toRem(30);
    }
    &__form{
        max-width: toRem(350);
        margin-bottom: toRem(25);
    }
    &__btn-wrapper{
        margin-bottom: toRem(60);
    }
    &__review{
        &__list{
            margin-bottom: toRem(15);
            gap: toRem(5);
            &__item{
                &__image{
                    max-width: toRem(15);
                }
                &__text{
                    color: $color-gray;
                    font-size: toRem(12);
                }
            }
        }
        &__partners{
            gap: toRem(15);
            &__link{
                &:not(:last-child){
                    margin-right: toRem(15);
                }
            }
            &__logo{
                max-width: toRem(70);
            }
        }
    }
}