// SCSS Variable's

$font-primary: 'Axiforma', Arial, serif;
$font-secondary: 'Roboto Condensed', sans-serif;

$color-primary:#7b68ee;
$color-secondary:#c0539e;
$color-danger:#e04f44;
$color-success:#00b884;
$color-gray:#7c828d;

$color-text:#292d34;

$color-shadow:#0a0a33;
$color-shadow-secondary:#9a44a7;
$color-border:#b9bec7;

$color-black:#000000;
$color-white:#ffffff;