/* Form Section Style */
.banner__form{
    .form{
        &-control{
            color: $color-text;
            font-size: toRem(14);
            border: 1px solid rgba($color-border, $alpha: 0.6);
            box-shadow: 0 toRem(19) toRem(25) rgba($color-shadow, $alpha: 0.04);
            text-shadow: none;
            padding: toRem(21);
            min-height: toRem(56);
            caret-color: $color-primary;
            transition: .2s;
            @extend %radius;
            &:hover,
            &:focus{
                box-shadow: 0 toRem(19) toRem(25) rgba($color-shadow, $alpha: 0.11);
            }
            &:focus{
                border-color: $color-primary;
            }
            &::placeholder{
                color: $color-border;
                text-shadow: none;
                font-weight: 400;
            }
        }
    }
    .invalid-feedback{
        color: $color-white;
        background-color: $color-danger;
        font-size: toRem(11);
        font-weight: 600;
        padding: 6px 0;
        box-shadow:
            0 20.2778px 60.8333px rgba(16,30,54,.1),
            0 20.2778px 60.8333px rgba(16,30,54,.1);
        border-radius: 0 0 toRem(9) toRem(9);
    }
}
.modal__form{
    .form{
        &-group{
            margin-bottom: toRem(25);
        }
        &-label,
        &-control{
            font-size: toRem(12);
            font-weight: 500;
        }
        &-label{
            color: $color-black;
            &__required{
                font-size: toRem(12);
                color: $color-danger;
            }
        }
        &-control{
            color: $color-text;
            border: 1px solid #e4e4e4;
            box-shadow: none;
            text-shadow: none;
            min-height: toRem(40);
            caret-color: $color-primary;
            transition: .2s;
            border-radius: 4px;
            &::placeholder{
                color: $color-border;
                text-shadow: none;
                font-weight: 400;
            }
        }
    }
    .invalid-feedback{
        color: $color-danger;
        font-size: toRem(10);
        font-weight: 500;
    }
    &.was-validated{
        .form{
            &-group{
                margin-bottom: toRem(10);
            }
        }
    }
}
.signup-form{
    &-wrapper{
        background: rgba(255,255,255,.5);
        box-shadow: 0 13.373px 75.66px rgba(38,33,74,.5);
        border-radius: 22.78px;
        padding: 6px;
        max-width: toRem(520);
    }
    padding: toRem(10);
    border-radius: 18.778px;
    .form{
        &-control{
            text-shadow: none;
            min-height: toRem(40);
            @include mobile{
                min-height: toRem(50);
            }
            &:placeholder{
                color: rgba(41,45,52,.4);
            }
        }
    }
    .primary-btn{
        @include mobile{
            width: 100%;
        }
    }
}
.custom-select{
    cursor: pointer;
    background: url("../images/icons/arrow-down.svg") no-repeat 95% 50%/15px !important;
}
.banner__form .form-control.is-invalid,
.banner__form.was-validated .form-control:invalid,
.banner__form .form-control.is-valid,
.banner__form.was-validated .form-control:valid,
.modal__form .form-control.is-invalid,
.modal__form.was-validated .form-control:invalid,
.modal__form .form-control.is-valid,
.modal__form.was-validated .form-control:valid,
.signup-form .form-control.is-invalid,
.signup-form.was-validated .form-control:invalid,
.signup-form .form-control.is-valid,
.signup-form.was-validated .form-control:valid{
    &:focus{
        box-shadow: none;
    }
}

.banner__form .form-control.is-invalid,
.banner__form.was-validated .form-control:invalid{
    border-color: $color-danger;
    border-radius: toRem(9) toRem(9) 0 0;
}
.banner__form .form-control.is-valid,
.banner__form.was-validated .form-control:valid{
    border-color: $color-success;
}

.modal__form .form-control.is-invalid,
.modal__form.was-validated .form-control:invalid,
.modal__form .form-control.is-valid,
.modal__form.was-validated .form-control:valid,
.signup-form .form-control.is-invalid,
.signup-form.was-validated .form-control:invalid,
.signup-form .form-control.is-valid,
.signup-form.was-validated .form-control:valid{
    background-image: none;
}

.modal__form .form-control.is-invalid,
.modal__form.was-validated .form-control:invalid,
.modal__form .form-control.is-valid,
.modal__form.was-validated .form-control:valid{
    border-color: #e4e4e4;
}